/*
 * Use styled-components for element styles:
 * https://styled-components.com/
 *
 * Only elements outside of React (html, body)
 * and fonts should have rules here.
 */

/* todo: get better font files? variable? */
@font-face {
  font-family: Nexa;
  font-weight: 300;
  src: url("./assets/fonts/Nexa Light.otf") format("opentype");
}

@font-face {
  font-family: Nexa;
  font-weight: 350;
  src: url("./assets/fonts/Nexa Book.ttf") format("truetype");
}

@font-face {
  font-family: Nexa;
  font-weight: 400;
  src: url("./assets/fonts/Nexa Regular.otf") format("opentype");
}

@font-face {
  font-family: Nexa;
  font-weight: 700;
  src: url("./assets/fonts/Nexa Bold.otf") format("opentype");
}

@font-face {
  font-family: Nexa;
  font-weight: 900;
  src: url("./assets/fonts/Nexa Heavy.ttf") format("truetype");
}

/* Generic/base element styles */
html, body {
  font-family: Nexa, sans-serif;
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
}
